{% extends "summoner/base.html" %}  
{% block content %}
<p> Example CeciI or AccelGG </p>
<form action="/superSoup/" method="post"}>{% csrf_token %}
{{ form.as_p }}
<p> Click on yes if you want to generate a complete match history for every summoner in most recent match of the above summoner </p>
<p> Clcik no to ensure that only match history will be generated for the specified summoner </p>
<input type = "submit" value = "Submit"/>
</form>
<b><p> *** Warning, clicking on Yes will significantly increase the computation time (up to half a minute) *** </p></b>

<!-- Button to trigger modal -->
<a href="#myModal" role="button" class="btn" data-toggle="modal">Launch demo modal</a>

<!-- Modal -->
<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Modal header</h3>
    </div>
    <div class="modal-body">
        <p>One fine body…</p>
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
        <button class="btn btn-primary">Save changes</button>
    </div>
</div>
{% endblock %}
